<%= render @artigo %>

<div id="comentarios">
	<h3>Comentários</h3>
	<fieldset id="comentarios" class="comentarios">
	<%= render @artigo.comentarios%>	
	</fieldset>
</div> 
<p>
<%= render :file  => 'comentarios/new' %>
</p>