<%= render @artigo %>

<div id="comentarios">
	<h3>Comentários</h3>
	<fieldset id="comentarios" class="comentarios">
	<%= render @artigo.comentarios%>	
	</fieldset>
</div> 
<p>
<%= link_to "Novo Comentário", new_artigo_comentario_path(@artigo, :format => :js), :remote => true, :id => 'new_comentario_link' %>
</p>